.be-content
        .page-head
          h2.page-head-title Test Header
          nav(aria-label='breadcrumb', role='navigation')
            ol.breadcrumb.page-head-nav
              li.breadcrumb-item
                a(href='#') Home
              li.breadcrumb-item
                a(href='#') Layouts
              li.breadcrumb-item.active Search Input
        .main-content.container-fluid
            block Content            