.be-left-sidebar
        .left-sidebar-wrapper
          a.left-sidebar-toggle(href='#') Search Input
          .left-sidebar-spacer
            .left-sidebar-scroll
              .left-sidebar-content
                ul.sidebar-elements
                  li.divider Menu
                  li
                    a(href='#')
                      i.icon.mdi.mdi-home
                      span Dashboard
                  li.parent
                    a(href='#')
                      i.icon.mdi.mdi-face
                      span UI Elements
                    ul.sub-menu
                      li
                        a(href='#') Alerts
                      li
                        a(href='#') Buttons
                      li
                        a(href='#') Panels
                      li
                        a(href='#') General
                      li
                        a(href='#') Modals
                      li
                        a(href='#') Notifications
                      li
                        a(href='#') Icons
                      li
                        a(href='#') Grid
                      li
                        a(href='#') Tabs & Accordions
                      li
                        a(href='#') Nestable Lists
                      li
                        a(href='#') Typography
                  li.parent
                    a(href='#')
                      i.icon.mdi.mdi-chart-donut
                      span Charts
                    ul.sub-menu
                      li
                        a(href='#') Flot
                      li
                        a(href='#') Sparklines
                      li
                        a(href='#') Chart.js
                      li
                        a(href='#') Morris.js
                  li.parent
                    a(href='#')
                      i.icon.mdi.mdi-dot-circle
                      span Forms
                    ul.sub-menu
                      li
                        a(href='#') Elements
                      li
                        a(href='#') Validation
                      li
                        a(href='#') Multiselect
                      li
                        a(href='#') Wizard
                      li
                        a(href='#') Input Masks
                      li
                        a(href='#') WYSIWYG Editor
                      li
                        a(href='#') Multi Upload
                  li.parent
                    a(href='#')
                      i.icon.mdi.mdi-border-all
                      span Tables
                    ul.sub-menu
                      li
                        a(href='#') General
                      li
                        a(href='#') Data Tables
                      li
                        a(href='#')
                          span.badge.badge-primary.float-right New
                          | Table Filters
                  li.parent
                    a(href='#')
                      i.icon.mdi.mdi-layers
                      span Pages
                    ul.sub-menu
                      li
                        a(href='#') Blank Page
                      li
                        a(href='#') Blank Page Header
                      li
                        a(href='#') Login
                      li
                        a(href='#') Login v2
                      li
                        a(href='#') 404 Page
                      li
                        a(href='#') Sign Up
                      li
                        a(href='#') Forgot Password
                      li
                        a(href='#') Profile
                      li
                        a(href='#') Pricing Tables
                      li
                        a(href='#') Pricing Tables v2
                      li
                        a(href='#') Timeline
                      li
                        a(href='#') Timeline v2
                      li
                        a(href='#')
                          span.badge.badge-primary.float-right New
                          | Invoice
                      li
                        a(href='#') Calendar
                      li
                        a(href='#') Gallery
                      li
                        a(href='#')
                          span.badge.badge-primary.float-right New    
                          | Code Editor
                      li
                        a(href='#')
                          span.badge.badge-primary.float-right New
                          | Booking
                      li
                        a(href='#')
                          span.badge.badge-primary.float-right New
                          | Loaders
                  li.divider Features
                  li.parent
                    a(href='#')
                      i.icon.mdi.mdi-inbox
                      span Email
                    ul.sub-menu
                      li
                        a(href='#') Inbox
                      li
                        a(href='#') Email Detail
                      li
                        a(href='#') Email Compose
                  li.parent
                    a(href='#')
                      i.icon.mdi.mdi-view-web
                      span Layouts
                    ul.sub-menu
                      li
                        a(href='#') Primary Header
                      li
                        a(href='#') Success Header
                      li
                        a(href='#') Warning Header
                      li
                        a(href='#') Danger Header
                      li.active
                        a(href='#')
                          span.badge.badge-primary.float-right New
                          | Search Input
                      li
                        a(href='#')
                          span.badge.badge-primary.float-right New
                          | Off Canvas Menu
                      li
                        a(href='#') Without Left Sidebar
                      li
                        a(href='#') Without Right Sidebar
                      li
                        a(href='#') Without Both Sidebars
                      li
                        a(href='#') Fixed Left Sidebar
                      li
                        a(href='#')
                          span.badge.badge-primary.float-right New
                          | Boxed Layout
                      li
                        a(href='#') Page Aside
                      li
                        a(href='#') Collapsible Sidebar
                      li
                        a(href='#')
                          span.badge.badge-primary.float-right New
                          | Sub Navigation
                  li.parent
                    a(href='#')
                      i.icon.mdi.mdi-pin
                      span Maps
                    ul.sub-menu
                      li
                        a(href='#') Google Maps
                      li
                        a(href='#') Vector Maps
                  li.parent
                    a(href='#')
                      i.icon.mdi.mdi-folder
                      span Menu Levels
                    ul.sub-menu
                      li.parent
                        a(href='#')
                          i.icon.mdi.mdi-undefined
                          span Level 1
                        ul.sub-menu
                          li
                            a(href='#')
                              i.icon.mdi.mdi-undefined
                              span Level 2
                          li.parent
                            a(href='#')
                              i.icon.mdi.mdi-undefined
                              span Level 2
                            ul.sub-menu
                              li
                                a(href='#')
                                  i.icon.mdi.mdi-undefined
                                  span Level 3
                              li
                                a(href='#')
                                  i.icon.mdi.mdi-undefined
                                  span Level 3
                      li.parent
                        a(href='#')
                          i.icon.mdi.mdi-undefined
                          span Level 1
                        ul.sub-menu
                          li
                            a(href='#')
                              i.icon.mdi.mdi-undefined
                              span Level 2
                          li.parent
                            a(href='#')
                              i.icon.mdi.mdi-undefined
                              span Level 2
                            ul.sub-menu
                              li
                                a(href='#')
                                  i.icon.mdi.mdi-undefined
                                  span Level 3
                              li
                                a(href='#')
                                  i.icon.mdi.mdi-undefined
                                  span Level 3
          .progress-widget
            .progress-data
              span.progress-value 60%
              span.name Current Project
            .progress
              .progress-bar.progress-bar-primary(style='width: 60%;')